{% if item.wordpress.subfolder %}

root /home/{{ item.site }}/{{ item.wordpress.subfolder }};

{% else %}
                
root /home/{{ item.site }};

{% endif %}
  
	location / {
	    try_files $uri $uri/ /index.php?$args;

		# Block user enumeration
    	if ( $query_string ~ "author=([0-9]*)" ) { return 403; }

		{% include "default/header.j2" %}
	}

	rewrite ^/robots.txt$ /index.php last;
	rewrite ^/sitemap.xml$ /index.php last;
	rewrite ^/news-sitemap.xml$ /index.php last;

	### Prevent public access for Wordpress internals
	location ~ ^wp-admin/includes$ { deny all; }
	location ~ ^wp-includes/theme-compat$ { deny all; }
	location ~ ^wp-includes/js/tinymce/langs/.*\.php { deny all; }
	location ~ $(/\.|wp-config\.php|(liesmich|readme).*) {
	    return 444;
	}

	# Disable direct access of any *.php files in /wp_includes folder
	location ~ ^/wp-includes/.+\.php$ {
	    return 444;
	}

	# Disable direct access of any *.php in /wp_content folder
	  location ~ ^/wp-content/.+\.php$ {
	  return 444;
	}

	# Disable direct access of any *.php in /wp_content/uploads folder
	  location ~ ^/wp-content/uploads/.+\.php$ {
	  return 444;
	}



{% include "default/php.j2" %}