    # Error pages must have properly set http headers!
    ##error_page 500 501 504 /overload/500;
    #error_page 502 503 /maintenance/502;
    
    location /overload {
        rewrite ^\/(.+)$ /overload/?pk_campaign=$server_name break;
        proxy_pass https://sbaerlo.ch;
        add_header Access-Control-Allow-Origin *;
        add_header  X-Robots-Tag "noindex, nofollow, nosnippet, noarchive";
    }
    
    location /maintenance {
        rewrite ^\/(.+)$ /maintenance/?pk_campaign=$server_name break;
        proxy_pass https://sbaerlo.ch;
        add_header Access-Control-Allow-Origin *;
        add_header  X-Robots-Tag "noindex, nofollow, nosnippet, noarchive";
    }
    
    # custom error pages
    #error_page 403 /error/403;
    #error_page 404 /error/404;
    #error_page 405 /error/405;
    
    location /error {
        rewrite ^\/(.+)$ /error/?pk_campaign=$server_name break;
        proxy_pass https://sbaerlo.ch;
        add_header Access-Control-Allow-Origin *;
        add_header  X-Robots-Tag "noindex, nofollow, nosnippet, noarchive";
    }