    location /robots.txt {
    #     echo "User-agent: *";
    #     echo "Disallow: /";
    #    add_header  X-Robots-Tag "noindex, nofollow, nosnippet, noarchive";
        access_log off;
        log_not_found off;
    }
    
    location = /favicon.ico { 
        access_log off;
        log_not_found off;
    }

    #Access Logs
    access_log /var/log/nginx/{{ item.site }}.access.log;
        
    #Error Logs
    error_log /var/log/nginx/{{ item.site }}.error.log warn;