    server {
        
        listen 80 default_server;

        server_name _;
        {% if nginx_default_url is defined %} 
        return 302 {{ nginx_default_url }};       
        {% endif %}

    }
