# {{ ansible_managed }}

    server {
        listen 443;

        # server names for this server.
        # any requests that come in that match any these names will use the proxy.
        server_name {{ item.server_name }};

        ssl {{ item.ssl.ssl }};
        ssl_certificate {{ item.ssl.ssl_certificate }};
        ssl_certificate_key {{ item.ssl.ssl_certificate_key }};

        #Access Logs
        access_log /var/log/nginx/{{ item.server_name }}.access.log;
        
        #Error Logs
        error_log /var/log/nginx/{{ item.server_name }}.error.log;

        location / {
        
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $remote_addr;

            proxy_pass {{ item.scheme }}://{{ item.host }}:{{ item.port }};
        
        }

        # location /robots.txt {
        #     echo "User-agent: *";
        #     echo "Disallow: /";
        #     add_header  X-Robots-Tag "noindex, nofollow, nosnippet, noarchive";
        # }


        # Error pages must have properly set http headers!
        error_page 500 501 504 /overload/500;
        error_page 502 503 /maintenance/502;

        location /overload {
            rewrite ^\/(.+)$ /overload/?pk_campaign=$server_name break;
            proxy_pass https://sbaerlo.ch;
            add_header Access-Control-Allow-Origin *;
            add_header  X-Robots-Tag "noindex, nofollow, nosnippet, noarchive";
        }
        
        location /maintenance {
            rewrite ^\/(.+)$ /maintenance/?pk_campaign=$server_name break;
            proxy_pass https://sbaerlo.ch;
            add_header Access-Control-Allow-Origin *;
            add_header  X-Robots-Tag "noindex, nofollow, nosnippet, noarchive";
        }
        
        # custom error pages
        error_page 403 /error/403;
        error_page 404 /error/404;
        error_page 405 /error/405;

        location /error {
            rewrite ^\/(.+)$ /error/?pk_campaign=$server_name break;
            proxy_pass https://sbaerlo.ch;
            add_header Access-Control-Allow-Origin *;
            add_header  X-Robots-Tag "noindex, nofollow, nosnippet, noarchive";
        }

    }