location ~ \.(hh|php)$ {
	#root /srv;
	fastcgi_keep_conn on;
	fastcgi_pass unix:/var/run/{{ item.server_name }}.sock;
	#fastcgi_pass 127.0.0.1:9000;
	fastcgi_index  index.php;
	fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
	include        fastcgi_params;
    fastcgi_param  HTTPS on;
	#fastcgi_buffers 16 16k;
	#fastcgi_buffer_size 32k;
	#fastcgi_hide_header X-Powered-By;
}